<div>
<div id = "content">
<p id="notice"><%= notice %></p>
	<div class= "products">		
		<%= render :partial => "products"%>	
</div>
	</div>

<div id="sidebar">
	<div class = "box search">
		<h2>Search by<span></span></h2>		
		<div class="box-content">
	 <%= form_tag products_path, :method => :get, :remote => true  do %>
			<%= label_tag "Keyword"%>	
<%=text_field_tag :search,params[:search],:class=> 'field'%>
 	<%=submit_tag "Search", :name => nil %>  
    <%end%>
   
		</div> 
	</div>

</div>



<% if can? :update,@category%>
<%= link_to 'Edit Category', edit_category_path(@category) %> 
<%end%>
<% if can? :update,@category%>
<%= link_to 'Back to Categories', categories_path %>
<%end%>
