<div>
<div id = "content">
	<p id="notice"><%= notice %></p>
	<div class= "products">
		<%= render :partial => "products"%>	
</div>
	</div>

<div id="sidebar">
	<div class = "box search">
		<h2>Search by<span></span></h2>		
		<div class="box-content">
	 <%= form_tag products_path, :method => :get, :remote => true  do %>
			<%= label_tag "Keyword"%>	
<%=text_field_tag :search,params[:search],:class=> 'field'%>
 	<%=submit_tag "Search", :name => nil %>  
    <%end%>
   
		</div> 
	</div>
<div class="box categories">
<h2>Categories<span></span></h2>
<div class="box-content">
<% categories = Category.all %>
    <% categories.each do |category| %> 
    <ul>
    	<%= link_to category.name ,{:controller => "categories" , :action => "show" , :id => category.id },:remote => true%> 
    </ul>			
			<%end%>
</div>
</div>
</div>
