<!DOCTYPE html>
<html>
<head>
  <title>Onlinestore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="shell">
<div id="header">
<%= render :partial => 'carts/shopcart' %>

</div>
	<div id="navigation">
	<ul><li> <%= link_to "Store",products_path%></li> 
		<li> <%= link_to "Home",home_index_path%></li>
		
		<li> 
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you? <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> <%= link_to "sign in", new_user_session_path %>
  <% end %>
</li>
		</ul>
</div>
</div>
<div id="main">

<div class="cl"> </div>
<%= yield %>
</div>


<!-- <div id ="footer">
	<p class="left">
<a href="#">Home</a>
<span>|</span>
<a href="#">Support</a>
<span>|</span>
<a href="#">My Account</a>
<span>|</span>
<a href="#">The Store</a>
<span>|</span>
<a href="#">Contact</a>
</p>
<p class="right">
	© 2012 OnlineStore.
	</p>
</div> --> 
</body>

 

</html>
